.main {
    position: relative;
    height: var( --height-main1-home);
    background-color: var(--color-main);
}
.main1 {
    position: absolute;
    width: 100%;
}

.infomaction {
    margin-top: 167px;
    .main-sing{
        font-weight: 100;
        margin: 30px 0;
        text-transform: uppercase;
        color: var(--color-red);                                                                                      
    }
}

.main-path {
    height: 63px;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid #B8B612;
    font-size: 1.8rem;
    padding: 5px;
    color: var(--color-white);
    background-color: var(--color-header);
    a {
        text-decoration: none;
        color: var(--color-red);
    }
    span {
        font-weight: bold;
    }
}

#carouselExampleControls {
    width: 965px;
}

.main-img1 {
    float: left;
    margin: 0 7px;
    overflow: hidden;
    width: 180px;
    height: 255.6px;
    a {
        img {
            width: 180px;
            height: 255.6px;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            &:hover {
                transform: scale(1.2);
            
            }
        }
        
    }
}
.main-img-right {
    margin-left: 0;
}

.main-img1{
    .imformation-episode {
        color: var(--color-white);
        font-size: 1.2rem;
        position: absolute;
        width: 90px;
        height: 20px;
        background-color: var(--color-red);
        padding: 0 3px 3px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        top: 0.8%;
    }
    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        //ấn khi quá khoảng cách để làm dấu 3 chấm 
        text-align: center;
        color: var(--color-white);
        font-size: 1.3rem;
        width: 18.6%;
        height: 42px;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        padding: 10px 10px 10px 18px;
        top: 83.9%;
        transition: 0.5s ease-in-out;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: var(--color-red);
        }
    }
}





.slide {
    button {
        width: 30px;
        height: 60px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        top: 40%;
        &:last-child {
            position: absolute;
            right: 9px;
            width: 30px;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.8);
            border-top-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0;
        }
    }
    
}
/* Phim mơi cập nhật */


.bottom-img {
    margin-top: 50px;
    ul {
        display: block
    }
}


.imformation-img {
    display: flex;
    h1 {

        border-bottom: 2px solid var(--color-red);
        height: 40px;
        cursor: pointer;
        color: var(--color-red);
       
    }
    .text-h1 {
        padding-right: 10px;
        text-decoration: none;
    }
    .two-text {
        text-decoration: none;
        padding-top: 7px;
        padding-right: 7px;
        span {
            margin-left: 15px;
            color: var(--color-white);
            font-size: 1.8rem;
            border-bottom: 2px solid;
            display: block;
            height: 33px;
            &:hover {
                color: var(--color-red);
            }
        }
    }
}

.imformation-episode {
    a {
        img{
            width: 160px; 
            height: 227.2px
        }
    }
}



.img-right {
    width: 160px;
    height: 285px;
    float: left;
    margin-left: -20px;
    margin-right: 35px;
    .imformation-episode {
        color: var(--color-white);
        font-size: 1.2rem;
        position: relative;
        width: 90px;
        height: 20px;
        background-color: var(--color-red);
        padding: 0 3px 3px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        top: 22px;
    }
    a {
        img {
            width: 160px;
            height: 227.2px
        }
    }
    p {
        color: var(--color-white);
        width: 160px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 10px 0;
        position: relative;
        font-size: 1.1rem;
    }
}

#img-ul1 {
    --height-ul1 : 1425px;
    height: var(--height-ul1);
    margin-bottom: 80px;
}

#img-ul2 {
    height: 570px;
    margin-bottom: 80px;
}

.fim-cartoon {
    position: absolute;
    top: 2116px;
    display: block;
    height: 40px;
    border-bottom: 2px solid;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-red);
}

.fim-favorite {
    position: absolute;
    top: 2766px;
    height: 40px;
    border-bottom: 2px solid;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-red);
}

.img-left {
    a {
        text-decoration: none;
        h1 {
            height: 40px;
            border-bottom: 2px dashed var(--color-red) ;
            color: var(--color-red);
            margin-bottom: 20px;
         }
    }
}
.fim-expected {
    padding: 0;
    .img-small {
        width: 275px;
        height: 90px;
        margin: 5px 0 0 5px;
        display: flex;
    }
}


.img-small {
    a{
        margin-right: 10px;
        img {
            width: 75px;
            height: 87px;
        }
    }
    p{
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--color-white);
        width: 160px;
        i {
            color: gold;
        }
        span {
            font-weight: 100;
            color: aliceblue;
            margin-top: 4px;
        }
    }
}

.modifil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}


.fim-trending {
    h1{
        height: 40px;
        margin: 30px 0;
        color: var(--color-red);
        margin-bottom: 10px;
    }
    span{
        color: var(--color-white);
        width: 78.4px;
        height: 35px;
        display: contents;
        text-align: center;
        padding: 6px 5px;
        font-size: 1.3rem;
        font-weight:  bold;
    }
    .day {
        margin-left: 9px;
        background-color: #5d5d5d;
        cursor: pointer;
        &:hover {
            background-color: #333;
        }
    }
    .week{
        &:hover {
            background-color: #333;
        }
    }
    .month{
        &:hover {
            background-color: #333;
        }
    }
    .week{
        &:checked {
            background-color: #5d5d5d;
        }
    }
}

.fim-interested {
    display: flex;
    margin-top: 20px;
    .number {
        position: relative;
        display: block;
        margin-right: 10px;
        top: 10px;
        padding: 2px 0;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: var(--color-red);

    
    }
    .number-interested {
        font-weight: 100;
        font-style: italic;
    }
}


